.finance {
	border: 1px solid black;
	display: inline-block;
	padding: 15px;
	margin: 0 10px 10px;
	width: 250px;
	min-height: 100px;
	border-radius: 10px;
	cursor: pointer;
}

.finance-collection {
	margin-top: 15%;
}

#addIcon {
	position: relative;
	top: 5px;
	font-size: 20px;
}

.total td {
	font-weight: bold;
}

.new-log-form {
	background-color: #343a40d6;
    padding: 0 25px;
    border-radius: 10px;
    color: white;
}

.new-log-form-label {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 0;
	margin-top: 10px;
}

#icon-close {
	color:white;
	font-size: 20px;
	padding-top: 15px;
	cursor: pointer;
}