.control-div {
  border: 2px solid #ced4da;
  padding: 7px;
  position:relative;
  border-radius: 7px;
  margin-bottom: 15px;
}

.control-label{
  display: inline;
  position: absolute;
  top: -11px;
  left: 20px;
  background-color: white;
  font-weight: 400;
  padding: 0 5px;
}

.control-input {
  border: 0;
  outline: none;
  width: 100%;
  padding: 0 10px;
}